version: "3.9"

x-variables: &variables
  environment:
    BOT_TOKEN: ${BOT_TOKEN}
    BOT_PAYMENTS_TOKEN: ${BOT_PAYMENTS_TOKEN}
    BOT_WEBHOOK_SECRET: ${BOT_WEBHOOK_SECRET}
    BOT_WEBHOOK_URL: ${BOT_WEBHOOK_URL}
    BOT_WEBHOOK_PATH: ${BOT_WEBHOOK_PATH:-"/telegram/bot"}
    REDIS_URL: ${REDIS_URL}
    DEBUG: ${DEBUG}
    DB_URL: ${DB_URL}
    FILES_PATH: ${FILES_PATH:-"packs"}

services:

  web: 
    &base
    restart: always
    command: web
    container_name: ${ENVIRONMENT}_telegram_bot_service
    build:
      context: /www/wwwroot/topdj
      dockerfile: config/Dockerfile
    volumes:
      # cache
      - ./cache/pip:/root/.cache/pip
      - ./cache/apt:/var/cache/apt
      # это ничего не монтирует, но создает внутри контейнера папку,
      - /app/venv
    <<: *variables
    env_file:
      - .env
    ports:
      - ${BACK_PORT}:8000
    networks:
      - general
    extra_hosts:
      - "host.docker.internal:host-gateway"


networks:
  general:
    name: ${ENVIRONMENT}-net